@page "/GroceryStore"
<h3>GroceryStore</h3>


<h3>Todo (@FoodList.Count(singleFoodItem => !singleFoodItem.IsDone))</h3>

<input placeholder="Something Food" @bind="newFoodName" />
<button @onclick="AddFood">Add food</button>



<ul>


    @foreach (var Food in FoodList)
    {
        @if (Food.IsDone) // only show the item if we haven't finished it
        {
            <li>
        <input type="checkbox" @bind="Food.IsDone" />
                <input @bind="Food.Name" />
                </li>
    }
     
    }
</ul>

@code {
private List<FoodItem> FoodList = new();
     
      private string newFoodName;
      
     private void AddFood()  
{
        FoodItem newItem;
        if (!string.IsNullOrWhiteSpace(newFoodName))
        {
        newItem = new FoodItem
            {
                Name = newFoodName
                @* IsDone = true *@
            };
            FoodList.Add(newItem);
            newFoodName = ""; 
         }
}

      private bool FoodIsDone(FoodItem singleFoodItem)
    {
        return !singleFoodItem.IsDone;
    }
}